.portfolio__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.portfolio__item {
  background: var(--background-color-alt);
  padding: 1.5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
}

.portfolio__item:hover {
  border-color: var(--color-primary-alt);
  background: transparent;
  transition: var(--transition);
}

.portfolio__item--image {
  border-radius: 1rem;
  overflow: hidden;
}

.portfolio__item--heading {
  text-align: center;
  margin: 1rem 0 1.2rem;
}

.portfolio__item--call-to-action {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

@media all and (max-width: 1024px) {
  .portfolio__container {
    gap: 2rem;
  }
}

@media all and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}