.container.contact__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10%;
}

.contact__options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.contact__options--item {
  width: 100%;
  background: var(--background-color-alt);
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  text-align: center;
}

.contact__options--item:hover {
  background: transparent;
  border-color: var(--color-primary-alt);
  transition: var(--transition);
}

.contact__options--item-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__options--item-link {
  display: inline-block;
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  border: 2px solid var(--color-primary-alt);
  border-radius: 0.5rem;
  background: transparent;
  color: var(--color-white);
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  resize: none;
}

.contact__form--button {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}


@media all and (max-width: 1024px) {
  .container.contact__container {
    width: var(--container-width-md);
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  form {
    width: 80%;
    margin: 0 auto;
  }
}

@media all and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .contact__options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
    margin: 0 auto;
  }

  form {
    width: 80%;
    margin: 0 auto;
  }

  input,
  textarea {
    padding: 0.6rem;
    font-size: 0.8rem;
  }

  .contact__form--button {
    font-size: 0.8rem;
  }
}