.container.testimonials__container {
  width: 40%;
  padding-bottom: 4rem;
}

.testimonials__item {
  background: var(--background-color-alt);
  text-align: justify;
  padding: 2rem;
  border-radius: 2rem;
}

.testimonials__item--client-photo {
  width: 4rem;
  border-radius: 50%;
  margin: 0 auto 1rem;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.testimonials__item--client-name {
  text-align: center;
}

.testimonials__item--review {
  display: block;
  width: 80%;
  margin: 1rem auto 0;
  color: var(--color-light);
  font-weight: 300;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: var(--color-primary);
}


@media all and (max-width: 1024px) {
  .container.testimonials__container {
    width: 60%;
  }

  .testimonials__item {
    padding: 1.5rem;
  }
}

@media all and (max-width: 600px) {
  .container.testimonials__container {
    width: 90%;
  }

  .testimonials__item {
    padding: 1rem;
  }

  .testimonials__item--review {
    width: 90%;
  }
}